
.toolbarWrapper {
display: flex;
justify-content: space-between !important;
}

.userBTN {
    display: flex !important;
    align-items: center !important;
}

.username {
cursor: default !important;
}

.Divider {
    margin: 2px 0 0 0 !important;
}

.cartItemsCounter {
display: flex;
justify-content: center;
align-items: center;
background-color: #ffc107;
padding: 0.5em 0.5em 0.5em;
border-radius: 50%;
height: 30px;
width: 30px;
}

.searchTextFieldWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0 0 0;
    padding: 10px !important;
}

.categoryTitle {
    margin: 30px 0 20px 0;
}

.searchBTN {
    margin: 15px 0 0 0 !important;
    width: 100% !important;
}