.sectionTitle {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0;
}

.submitItemBtn {
    margin: 0 20px;
    height: 55px !important;
}

.NewItemTextField {
    margin: 0 5px !important; 
}