.ItemInCartWrapper {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ListOfItemInCart {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ListOfItem {
    display: flex;
    align-items: center;
}

.itemImg {
    width: 50px;
    margin: 0 20px 0 0;
}

.itemNameAndPriceWrapper{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.itemName {
width: 250px;
font-size: 14px;
}

.itemPrice {
    font-size: 12px;
    }

.iconSet {
    display: flex;
    align-items: center;
}

.quantity {
    font-size: 20px !important;
}